@charset "utf-8";
/****************************************/
/* Name: Ezon
/* PART: LAYOUT STYLE 
/* Version: 1.0 / day: 2025-06-11
/* Author: EunSung
/****************************************/

/*
=========================================================================
공통
=========================================================================
*/

/* 전체 영역 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.layoutWrap{
    background: var(--color-gray-300);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
}
.layoutWrap .content_wrap {
    -webkit-box-flex: 1;
    flex: 1;
    width: calc(100% - 230px);
}

/* 헤더 영역 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.layoutWrap .gnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: end; 
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 17px 40px;
    background-color: var(--bg-default);
}
.layoutWrap .gnb li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.layoutWrap .gnb li a {
    display: block;
}
.layoutWrap .gnb li .line_type {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding-left: 16px;
    margin-left: 16px;
    position: relative;
}
.layoutWrap .gnb li .line_type::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .16);
    width: 1px;
    height: 16px;
}

.layoutWrap .gnb li:first-child .line_type::before {
    content: "";
    display: none;
}

/* 레프트 메뉴 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.layoutWrap .blind {
    overflow: hidden;
    display: inline-block;
    border: 0;
    margin: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    position: absolute;
}
.layoutWrap .gnbBox {
    overflow: hidden;
}
.layoutWrap .gnbBox.gnb {
    background: var(--bg-default);
}
.layoutWrap .aside_custom {
    position: relative;
    width: 230px;
    background-color: var(--left-bg);
    font-size:17px;
    font-weight:700;
    color:var(--color-white);
    min-height: 100vh;
    padding-bottom:145px;
}
.layoutWrap .aside_logo {
    background-color: var(--color-primary);
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .1px;
    text-align: center;
    color:var(--color-white);
    padding: 40px 0;
}
.layoutWrap .aside_logo .logo_img {
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}
.layoutWrap .aside_logo .text {
    display: block;
}
.layoutWrap .lnb_custom > li:first-child {
    padding-top: 8px;
}

.layoutWrap .lnb_custom > li > button {
    height: 54px;
    padding: 17px 38px 17px 20px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: center right 20px;
    font-size: 17px;
    color: var(--color-white);
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.layoutWrap .other_link > li > a {
    opacity: .8;
    font-size: 16px;
    font-weight: 400;
}
.layoutWrap .lnb_custom > li > button {
    background-image: url(/img/nav-arrow-down.svg);
}
.layoutWrap .lnb_custom > li.on > button {
    background-image: url(/img/nav-arrow-up.svg);
}
.layoutWrap .ui_accordion li .depth2{
    display:none;
}
.layoutWrap .ui_accordion li.on .depth2{
    display:block;
}
.layoutWrap .lnb_custom .depth2>li>a{
    line-height:1.5;
    height:40px;
    padding:10px 30px;
    display:block;
    font-size:16px;
    font-weight:400;
    color:hsla(0,0%,100%,.5);
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.layoutWrap .lnb_custom .depth2>li.on>a,
.layoutWrap .lnb_custom .depth2>li>a:focus,
.layoutWrap .lnb_custom .depth2>li>a:hover{
    font-weight:700;
    color:var(--text-primary);
}
.layoutWrap .lnb_custom li.on{
    background-color: var(--left-on-bg);
    padding-bottom:12px
}
.layoutWrap .lnb_custom li.on .depth2{
    margin-top:12px
}
.layoutWrap .aside_custom .on_blind{
    white-space: nowrap;
}
.layoutWrap .aside_custom {
    -webkit-transition: all .3 s ease;
    transition: all .3 s ease
}
.layoutWrap .aside_custom.on {
    width: 64px
}
.layoutWrap .aside_custom.on .on_blind {
    overflow: hidden;
    display: block;
    width: 100%;
    clip: rect(1px, 1px, 1px, 1px); 
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    white-space: nowrap;
}
.layoutWrap .aside_custom.on .lnb_custom li.on.depth2 {
    display: none;
}
.layoutWrap .aside_custom.on .lnb_custom li {
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 64px;
}

/* 컨텐츠 영역 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.contents_box{
    padding: 30px 30px 0;
    min-height: calc(100% - 72px);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}